/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
  height: 100%;
}
body {
   width: 1200px;
   height: 100%;
}

header {
    background-color: rgb(0, 174, 255);
    padding: 10px;
    font-size: 30px;
    display: block;
    overflow: auto;
}
header div {
    float: left;    
}
/* h1 {
    display: inline;
}
h2 {
  display: inline;
}  */
header img {
    width: 350px;
    float: right;
}
nav {
    float: left;
    width: 100%;
}
nav ul {
    padding: ;
    float: left;
    border-bottom: ;
    list-style-type: none;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;
    vertical-align: middle;
}
a {
    color: ;
}
section {
    width: 73%;
    display: inline-block;
    float: left;
}
aside {
    width: 17%;
    display: inline-block;
    background-color:;
    padding:;
    min-height: 100%;
}
article {
    float: left;
    margin: 20px 20px;
    height: 220px;
    width: 15%;
}
article img {
    height: 180px;
    width: 150px;
}

aside ul {
    list-style-type: none;
}
footer {
    width: 790px;
    background-color:;
    color:;
    clear: both;
    display: block;
}