/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
     width: 800px;
     height: 100%;
     background-color: #B4DEE8;
     background: url(snow.png);
     margin: auto;
  }

  header {
      background-color: #D2EBFF;
      padding: 5px;
      font-size: 30px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      color: #57818F;
      border-left: 5px solid #426574;
      border-right: 5px solid #426574;
      border-top: 10px solid #426574;
      display: block;
  }
  nav {
      float: left;
      width: 100%;
      background-color: #426574;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  nav ul {
      padding: ;
      float: left;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      vertical-align: middle;
      text-decoration: none;
      font-weight: bold;
      color: #71DBD0;
  }

  nav li a:hover {

    color: #ED444A;
  }

  a {
      text-decoration: underline;
  }

  a:hover {
      text-decoration: none;
      font-weight: bold;
      color: #ED444A;
  }

  h2 {

    font-size: 25px;
    font-variant: small-caps;
    color: #117385;
    text-align: right;
    border-right: 5px solid #ED444A;
    padding-right: 5px;
  }

  h3 {
      font-size: 20px;
      font-weight: bold;
      border-left: 10px solid #ED444A;
      padding-left: 3px;
  }

  section {
      width: 750px;
      display: inline-block;
      float: left;
      border-left: 5px solid #426574;
      border-right: 5px solid #426574;
      border-bottom: 10px solid #426574;
      background-color: #D2EBFF;
      padding-left: 20px;
      padding-right: 20px;
      color: #426574;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }
  img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #426574;
  }